<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                Welcome to Site
            </h1>
            <p>@Html.ActionLink("Go to clients", "Index", "Clients")</p>
        </div>
    </div>


</div>
