<h2>Hello</h2>

<!-- <div *ngIf="profiles">

  <div *ngFor="let profile of profiles">
    <br> {{profile.id}}
    <br> {{profile.firstName}}
    <br> {{profile.lastName}}
    <br> {{profile.middleName}}
    <br> {{profile.dOB}}
    <br> {{profile.gender}}
    <br>
    <img src={{profile.imageURL}} alt="">
    <br> {{profile.rank}}
    <br> {{profile.slogan}}
    <br> {{profile.status}}
    <br> {{profile.currentAction}}
    <br> {{profile.totalScore}}
    <br> {{profile.favouriteGenres}}
    <br> {{profile.games}}
    <br> {{profile.friendsList}}
    <br>
  </div>
</div> -->