<!-- The content below is only a placeholder and can be replaced.

    
<app-test-dashboard></app-test-dashboard> -->

<!-- <mat-toolbar>
    <mat-toolbar-row>
      <a target="_blank" href="https://material.angular.io/">Angular Material</a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <a target="_blank" href="https://www.npmjs.com/package/@angular/flex-layout">Flex-Layout</a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <a target="_blank" href="https://www.letsboot.com/">Letsboot.com</a>
    </mat-toolbar-row>
  </mat-toolbar> -->

<router-outlet></router-outlet>