
@{
    ViewData["Title"] = "RegisterProfile";
}

<h2>RegisterProfile</h2>

<div class="col-md-4 col-md-offset-4 demo-card-wide mdl-card mdl-shadow--2dp">

    <div class="mdl-card__title">
        <img src="~/images//baseline-assignment_ind-24px.svg" alt="Alternate Text" />
        <h2 class="mdl-card__title-text">
            | Register
        </h2>
    </div>
    <div class="mdl-card__supporting-text">
        <form asp-route="Register" id="Register" method="post" class="form-register">
            <div class="form-group col-md-12">
                @*<label asp-for="Email" class="col-md-3"></label>*@
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" name="FirstName" id="sample1">
                    <label class="mdl-textfield__label" for="sample1">First Name</label>
                </div>
            </div>

            <div class="form-group col-md-12">
                @*<label asp-for="Username" class="col-md-3"></label>*@
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" name="LastName" id="sample1">
                    <label class="mdl-textfield__label" for="sample1">Last Name</label>
                </div>
            </div>
            <div class="form-group col-md-12">
                @*<label asp-for="Password" class="col-md-3"></label>*@
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="password" name="MiddleName" id="sample1">
                    <label class="mdl-textfield__label" for="sample1">Middle Name</label>
                </div>
            </div>
            <div class="form-group col-md-12">
                @*<label asp-for="PasswordConfirm" class="col-md-3"></label>*@
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" name="DOB" id="sample1">
                    <label class="mdl-textfield__label" for="sample1">DoB</label>
                </div>
            </div>
            <div class="form-group col-md-12">
                @*<label asp-for="PasswordConfirm" class="col-md-3"></label>*@
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" name="Gender" id="sample1">
                    <label class="mdl-textfield__label" for="sample1">Gender</label>
                </div>
            </div>
            <div class="form-group col-md-12">
                @*<label asp-for="PasswordConfirm" class="col-md-3"></label>*@
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="file" name="ImageUrl" id="sample1">
                    <label class="mdl-textfield__label" for="sample1">ImgaeUrl</label>
                </div>
            </div>
            <div class="form-group col-md-12">
                @*<label asp-for="PasswordConfirm" class="col-md-3"></label>*@
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="file" name="CpverImageUrl" id="sample1">
                    <label class="mdl-textfield__label" for="sample1">Gender</label>
                </div>
            </div>
            <div class="form-group col-md-12">
                @*<label asp-for="PasswordConfirm" class="col-md-3"></label>*@
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" name="Rank" id="sample1">
                    <label class="mdl-textfield__label" for="sample1">Ranl</label>
                </div>
            </div>

            <div class="form-group col-md-12">
                @*<label asp-for="PasswordConfirm" class="col-md-3"></label>*@
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" name="Slogan" id="sample1">
                    <label class="mdl-textfield__label" for="sample1">Slogan</label>
                </div>
            </div>

            @*<div class="form-group col-md-12">
            <button type="submit">Register</button>
            <button class="btn btn-default" name="button" value="cancel">Cancel</button>
        </div>*@
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="register-button">
                Register
            </button>
            <button class="mdl-button mdl-js-button" type="reset">
                Cancel
            </button>
        </form>
    </div>
</div>


