@using GradeProject.AuthService.Models.Account.Register
@model PlayerRegisteModel
@{
    ViewData["Title"] = "Register";
}

<br /><br /><br /> <br /> <br /> <br />

<!--<div class="col-md-4 col-md-offset-4 demo-card-wide mdl-card mdl-shadow--2dp"> -->

<div class="col-md-11 demo-card-wide mdl-shadow--2dp">

    <div class="mdl-card__title">
        <img src="~/images//baseline-assignment_ind-24px.svg" alt="Alternate Text" />
        <h2 class="mdl-card__title-text">
            | Register
        </h2>
    </div>
    <div class="mdl-card__supporting-text">
        <form asp-route="Register" id="Register" method="post" enctype="multipart/form-data" class="form-register">
            <div class="col-md-6">

                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input type="email" class="form-control" placeholder="Email" asp-for="Email" autocomplete="off">
                </div>

                @*<div class="form-group col-md-12">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" name="Email" id="sample1">
                            <label class="mdl-textfield__label" for="sample1">Email</label>
                        </div>
                    </div>*@


                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input type="email" class="form-control" placeholder="Username" asp-for="Username" autocomplete="off">
                </div>
                @*<div class="form-group col-md-12">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" name="Username" id="sample1">
                            <label class="mdl-textfield__label" for="sample1">Username</label>
                        </div>
                    </div>*@

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                </div>

                @*<div class="form-group col-md-12">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="password" name="Password" id="sample1">
                            <label class="mdl-textfield__label" for="sample1">Passowrd</label>
                        </div>
                    </div>*@

                <div class="form-group">
                    <label asp-for="PasswordConfirm"></label>
                    <input type="password" class="form-control" placeholder="Confirm Password" asp-for="PasswordConfirm" autocomplete="off">
                </div>

                @*<div class="form-group col-md-12">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="password" name="PasswordConfirm" id="sample1">
                            <label class="mdl-textfield__label" for="sample1">Confirm Password</label>
                        </div>
                    </div>*@
                <div class="form-group col-md-12">
                    <input type="file" name="AvatarImage" value="" />
                </div>
                <div class="form-group col-md-12">
                    <input type="file" name="CoverImage" value="" />
                </div>
            </div>

            <div class="col-md-5 col-md-offset-1">

                <div class="form-group col-md-12">
                    <div class="col-md-5 ">
                        <label asp-for="Gender"></label>
                        <select>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="col-md-7">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="date" name="DOB" id="sample1">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input type="text" class="form-control" placeholder="First Name" asp-for="FirstName" autocomplete="off">
                </div>
                @*<div class="form-group col-md-12">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" name="FirstName" id="sample1">
                <label class="mdl-textfield__label" for="sample1">First Name</label>
            </div>
        </div>*@

                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input type="text" class="form-control" placeholder="Last Name" asp-for="LastName" autocomplete="off">
                </div>
                @*<div class="form-group col-md-12">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" name="LastName" id="sample1">
                <label class="mdl-textfield__label" for="sample1">Last Name</label>
            </div>
        </div>*@

                @*<div class="form-group col-md-12">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" name="Gender" id="sample1">
                <label class="mdl-textfield__label" for="sample1">Gender</label>
            </div>
        </div>*@


                <div class="form-group">

                </div>

                <div class="form-group">
                    <label asp-for="Slogan"></label>
                    <input type="text" class="form-control" placeholder="Slogan" asp-for="Slogan" autocomplete="off">
                </div>
                @*<div class="form-group col-md-12">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" name="Slogan" id="sample1">
                <label class="mdl-textfield__label" for="sample1">Slogan</label>
            </div>
        </div>*@

                <div class="form-group col-md-12">
                    <div class="mdl-textfield mdl-js-textfield">
                        @Html.CheckBox("IsDeveloper", false)
                        <label>Developer</label>
                    </div>
                </div>
            </div>

            @*<div class="form-group col-md-12">
                    <button type="submit">Register</button>
                    <button class="btn btn-default" name="button" value="cancel">Cancel</button>
                </div>*@
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="register-button">
                Register
            </button>
            <button class="mdl-button mdl-js-button" type="reset">
                Cancel
            </button>
        </form>
    </div>
</div>



<style>
    .form-register {
        display: flex;
    }
</style>